.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
!source/_posts/*.md
_multiconfig.yml
.obsidian/**
# onlyOneDrive 
source/_posts/4归档/副业/steam二手贩子.md
# onlyOneDrive 
source/_posts/4归档/副业/搞机Root.md
# onlyOneDrive 
source/_posts/4归档/副业/第二份工作.md
# onlyOneDrive 
source/_posts/3兴趣/VPS.md
# onlyOneDrive 
.trash/test-only.md
